* {
  border: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.action-button {
  align-items: center;
  background: #5353cf;
  border-radius: 30px;
  display: flex;
  height: 30px;
  justify-content: center;
  transition: 400ms;
  width: 30px;
}

.action-button > img {
  height: 15px;
  width: 15px;
}

.edit { background: #469446; }

.remove { background: rgb(187, 37, 37); }

.tasks {
  align-items: center;
  border-radius: 20px;
  height: 40px;
  display: flex;
  padding: 0 15px;
  font-size: 1.2rem;
  width: 500px;
}

.tasks:hover {
  cursor: default;
  display: flex;
  height: 40px;
  justify-content: space-between;
  transition: 400ms;
  width: 500px;
}

.tasks:hover > .actions {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

/* .selected {
  background: yellowgreen;
  width: 500px;
} */

.actions {
  display: none;
}

.actions > button { margin-left: 10px; }

.list {
  display: grid;
  gap: 10px;
  margin: 20px 0;
}